*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url('https://images2.alphacoders.com/101/1012880.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.timedate::before{
    content: "";
    height: 200px;
    background-color: black;
    opacity: 0.35;
    position: absolute;
    z-index: -1;
    width: 375px;
    box-shadow: 2px 2px 9px 0px white;
    border-radius: 20px;
}
.timedate{
    border-radius: 20px;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 9px 0px white;
    height: 200px;
    width: 380px;
    margin-top: 40px;
    margin-left: 200px;
}

.time{
    font-family: 'Raleway', sans-serif;
    margin: 0px 20px;
}
.num{
    font-size: 50px;
}

.date{
    font-family: 'Raleway', sans-serif;
    font-size:  500px;
    margin: 0px 20px;
    font-size: 30px;
}

.logo{
    margin-top: 40px;
    margin-right: 200px;
    width: 180px;
    border-radius: 100px;
    float: right;
}


.values{
    height: 450px;
    width: 570px;
    margin: auto;
}
.values::before{
    content: "";
    position: absolute;
    box-shadow: 2px 2px 9px 0px white;
    background-color: black;
    opacity: 0.4;
    height: 434px;
    width: 570px;
    z-index: -1;
}

.search{
    text-align: center;
}

.tablelines{
    text-align: center;
    color: white;
}

#detail{
    color: white;
}

/* Style the search field */

.row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
    text-align: center;
    width: 25% !important;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    justify-content: center;
}

.temp{
    margin-top: 10px;
}
.disp{
    display: none;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 84%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 16%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

#weather{
    color: aliceblue;
}

#weather-image{
    width: 30px;
}
#weather-image img{
    width: 100px;
    height: 100px;
}


.table {
    --bs-table-hover-color: #39f12e !important;
    --bs-table-hover-bg: rgb(255 255 255 / 8%) !important;
}


@media (min-width:560px) and (max-width: 1020px) {
    #weather-image img {
        width: 70px;
        height: 70px;
    }
    .timedate{
        height: 160px;
        width: 305px;
        margin-left: 50px;
    }
    .timedate::before {
        height: 160px;
        width: 300px;
    }
    .logo {
        margin-top: 47px;
        margin-right: 50px;
        width: 150px;
    }
    .num {
        font-size: 30px;
    }
    .date {
        font-size: 25px;
    }

    .values {
        width: 500px;
    }
    .values::before {
        height: 408px;
        width: 500px;
    }

    #detail h2{
        font-size: 20px;
    }
    #detail h4{
        font-size: 20px;
    }
}

@media (min-width:0px) and (max-width: 560px){
    .logo {
        /* margin: 50px 200px; */
        position: absolute;
        margin-top: 40px;
        margin-left: 10px;
        border-radius: 90px;
        width: 150px;
        /* float: right; */
    }
    .timedate{
        margin-left: 240px;
        height: 160px;
        width: 233px;
    }
    .timedate::before {
        height: 160px;
        width: 233px;
    }
    .num {
        font-size: 30px;
    }
    .date {
        font-size: 25px;
    }
    .values {
        width: 470px;
    }
    .values::before {
        height: 408px;
        width: 470px;
    }
    
}




